<a href="https://colab.research.google.com/github/Shivchopra82/data_analysis_googlecolab/blob/master/Sampling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

# **UPLOAD FILES**

---

In [27]:
from google.colab import files
uploaded = files.upload()

Saving Dataset.csv to Dataset (1).csv

# **LOAD DATASET**

---

In [28]:
dataset =pd.read_csv("Dataset.csv")
print(dataset.shape)
print(dataset.describe())
print(dataset.head(5))

(1460, 3)
                Id        LotArea      SalePrice
count  1460.000000    1460.000000    1460.000000
mean    730.500000   10516.828082  180921.195890
std     421.610009    9981.264932   79442.502883
min       1.000000    1300.000000   34900.000000
25%     365.750000    7553.500000  129975.000000
50%     730.500000    9478.500000  163000.000000
75%    1095.250000   11601.500000  214000.000000
max    1460.000000  215245.000000  755000.000000
   Id  LotArea  SalePrice
0   1     8450     208500
1   2     9600     181500
2   3    11250     223500
3   4     9550     140000
4   5    14260     250000

# **SIMPLE RANDOM SAMPLING**

---

In [29]:
SimpleRandomSample = dataset.sample(10).sort_values(by ='Id')
SimpleRandomSample_mean = round(SimpleRandomSample['SalePrice'].mean(),3)
print(f"mean of Simple Random Sample = {SimpleRandomSample_mean}")
print(SimpleRandomSample)

mean of Simple Random Sample = 183560.0
        Id  LotArea  SalePrice
283    284     9612     244600
512    513     9100     129900
566    567    11198     325000
683    684    11248     285000
951    952     7800     119900
1078  1079     4435     155900
1131  1132    10712      93500
1195  1196     8029     176000
1223  1224    10680     137900
1335  1336     9650     167900

# **SYSTEMATIC SAMPLING**

---

In [30]:
index = np.arange(0, len(dataset), step = 5)
SystematicSampling = dataset.iloc[index]
print(SystematicSampling)
SystematicSampling_mean = round(SystematicSampling['SalePrice'].mean(),3)
print("Systematic sampling mean is :", SystematicSampling_mean)

        Id  LotArea  SalePrice
0        1     8450     208500
5        6    14115     143000
10      11    11200     129500
15      16     6120     132000
20      21    14215     325300
...    ...      ...        ...
1435  1436     8400     174000
1440  1441    11526     191000
1445  1446     8400     129000
1450  1451     9000     136000
1455  1456     7917     175000

[292 rows x 3 columns]
Systematic sampling mean is : 178146.13

# **CLUSTER SAMPLING**


---

In [31]:
n = 5   #no. of clusters
dataset['clusterId'] = np.repeat([range(1,n+1)], len(dataset)/n) 
index = []
for i in range(0,len(dataset)):
  if dataset['clusterId'].iloc[i]%2 == 0:
    index.append(i)
ClusterSample = dataset.iloc[index]
ClusterSample_mean = round(ClusterSample['SalePrice'].mean(), 3)
print("Cluster Sample is :", ClusterSample)
print("Mean of Cluster Sample is :", ClusterSample_mean)

Cluster Sample is :         Id  LotArea  SalePrice  clusterId
292    293    11409     131000          2
293    294    16659     235000          2
294    295     9600     167000          2
295    296     7937     142500          2
296    297    13710     152000          2
...    ...      ...        ...        ...
1163  1164    12900     108959          4
1164  1165    16157     194000          4
1165  1166     9541     233170          4
1166  1167    10475     245350          4
1167  1168    10852     173000          4

[584 rows x 4 columns]
Mean of Cluster Sample is : 178023.509

# **STRATIFIED RANDOM SAMPLING**


---

In [32]:
dataset = pd.read_csv('Dataset.csv')
dataset['strata'] = np.repeat([1,2], len(dataset)/2)
print(dataset)

        Id  LotArea  SalePrice  strata
0        1     8450     208500       1
1        2     9600     181500       1
2        3    11250     223500       1
3        4     9550     140000       1
4        5    14260     250000       1
...    ...      ...        ...     ...
1455  1456     7917     175000       2
1456  1457    13175     210000       2
1457  1458     9042     266500       2
1458  1459     9717     142125       2
1459  1460     9937     147500       2

[1460 rows x 4 columns]

In [33]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (1.0.2)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (3.0.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)

In [34]:
from sklearn.model_selection import StratifiedShuffleSplit as sss
#set the split criteria
split = sss(n_splits=1, test_size=8)
#performing data split
for x, y in split.split(dataset, dataset['strata']):
  StratifiedRandomSample = dataset.iloc[y].sort_values(by = 'SalePrice')

StratifiedRandomSample

        Id  LotArea  SalePrice  strata
662    663    13560     110000       1
71      72     7599     129500       1
982    983     3182     159895       2
1124  1125     9125     163900       2
993    994     8846     173900       2
992    993     9760     187000       2
604    605    12803     221000       1
218    219    15660     311500       1